<script src="/script/account_profile.js"></script>
<link rel="stylesheet" href="/style/account_profile.css">

<div id="page_header">
  <div id="container_logo">
    <a href="/logout" style="color:rgb(0, 0, 0); font-size:2rem; "><strong>LOG OUT</strong></a>
    <img src="/img/logo_large.png" alt="" />
  </div>
</div>

<div class="container">
  <div class="row">
    <a href="/draft">DRAFT</a>
  </div>
</div>
