<script src="/script/account_profile.js"></script>
<link rel="stylesheet" href="/style/account_profile.css">

<div id="page_header">
  <div id="container_logo">
    <img src="/img/logo_large.png" alt="" />
  </div>
</div>

<div class="container">
  <div class="row">
    <a href="/draft">DRAFT</a>
  </div>
</div>
