<p>
  League Creation
</p>

<form class="" action="/league/create" method="post">
  <input type="text" name="league_name" placeholder="League Name">
  <input type="text" name="team1_owner" placeholder="Team 1 owner">
  <input type="text" name="team2_owner" value="Team 2 owner">
  <input type="submit" name="submit" value="submit">
</form>
