<form class="draft" action="/live" method="post">
  <input type="text" name="team_name" placeholder="Team Name">
  <input type="hidden" name="user_name" value="<%= @user.account_name %>">
  <input type="submit" name="name" value="Start Draft">
</form>
