<script src="/script/draft.js"></script>
<link rel="stylesheet" href="/style/draft.css">

<div id="page_header">
  <div id="container_logo">
    <a href="/logout" style="color:rgb(0, 0, 0); font-size:2rem; "><strong>LOG OUT</strong></a>
    <img src="/img/logo_large.png" alt="" />
  </div>
</div>

<div class="container">
  <h1><strong><%= session[:current_account] %></strong> name your team so you can draft players for league <strong><%= session[:current_league] %></strong></h1>
  <div class="row">
    <form class="draft" action="/draft" method="post">
      <input type="text" name="team_name" placeholder="Team Name" class="inputfield">
      <input type="submit" name="name" value="Start Draft" class="button-primary">
    </form>

  </div>
</div>
