<script src="/script/draft.js"></script>
<link rel="stylesheet" href="/style/draft.css">

<div id="page_header">
  <div id="container_logo">
    <img src="/img/logo_large.png" alt="" />
  </div>
</div>

<div class="container">
  <div class="row">
    <form class="draft" action="/draft" method="post">
      <input type="text" name="team_name" placeholder="Team Name">
      <input type="text" name="league_name" placeholder="League Name">
      <input type="hidden" name="account_name" value="<%= @account.account_name %>">
      <input type="submit" name="name" value="Start Draft">
    </form>

  </div>
</div>
