<!DOCTYPE html>
<html>
  <head>
    <script src="/jquery/jquery-2.1.4.min.js"></script>
    <script src="/script/layout.js"></script>


      <!-- Basic Page Needs
      –––––––––––––––––––––––––––––––––––––––––––––––––– -->
      <meta charset="utf-8">
      <title>History at Bat</title>
      <meta name="description" content="">
      <meta name="author" content="">

      <!-- Mobile Specific Metas
      –––––––––––––––––––––––––––––––––––––––––––––––––– -->
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <!-- FONT
      –––––––––––––––––––––––––––––––––––––––––––––––––– -->
      <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

      <!-- CSS
      –––––––––––––––––––––––––––––––––––––––––––––––––– -->
      <link rel="stylesheet" href="/../style/normalize.css">
      <link rel="stylesheet" href="/../style/skeleton.css">


      <!-- Favicon
      –––––––––––––––––––––––––––––––––––––––––––––––––– -->
      <!-- <link rel="icon" type="image/png" href="images/favicon.png"> -->

  </head>
  <body>

        <%= yield %>

  </body>
</html>
