
<link rel="stylesheet" href="/style/live.css">

<div id="page_header">
  <div id="container_logo">
    <img src="/img/logo_large.png" alt="" />
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="six columns">
<input
      <p>
        League Page
      </p>
      <div id="results">
      </div>
    </div>
  </div>
</div>


<script>

var url = '/league/myleagues/<%=session[:league_name]%>/results';
console.log(url);

$.ajax({
  url: url,
  type: 'GET',
  dataType: 'json'
})
.done(function(data) {
  console.log("success");
  console.log(data);
})
.fail(function() {
  console.log("error");
})
.always(function() {
  console.log("complete");
});


</script>
