
<link rel="stylesheet" href="/style/league_detail.css">

<div id="page_header">
  <div id="container_logo">
    <img src="/img/logo_large.png" alt="" />
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="six columns">
      <p>
        <h1>Details for League: <b><%=session[:league_name]%></b></h1>
      </p>
      <div id="results">
      </div>
    </div>
  </div>
</div>


<script>

var url = '/league/myleagues/<%=session[:league_name]%>/teams';
console.log(url);
var teamjson;

$.ajax({
  url: url,
  type: 'GET',
  dataType: 'json'
})
.done(function(data) {
  console.log("success");
  teamjson = data;
  console.log(data);
  var $team1 = $("<div>", {class: "teamName"}).text("Team 1 owned by:");
  $('#results').append($team1);

  $('#results').append('Batters');
  for (var i = 1; i < 10 ; i++) {
    var pid = "player" + i + "_id";
    var $player = $("<div>", {class: "playerContainer", id: "player" + i});
    var $name = $("<div>", {class: "playerName"});
    $name.text("Batter " + i + ": " + teamjson.team1[i-1]);
    $player.append($name);
    $('#results').append($player);
  }
  $('#results').append('PITCHERS');
  for (var i = 10; i < 17 ; i++) {
    var pid = "player" + i + "_id";
    var $player = $("<div>", {class: "playerContainer", id: "player" + i});
    var $name = $("<div>", {class: "playerName"});
    $name.text("Pitcher " + (i-9) + ": " + teamjson.team1[i-1]);
    $player.append($name);
    $('#results').append($player);
  }

  var $team2 = $("<div>", {class: "teamName"}).text("Team 2 owned by:");
  $('#results').append($team2);

  $('#results').append('Batters');
  for (var i = 1; i < 10 ; i++) {
    var pid = "player" + i + "_id";
    var $player = $("<div>", {class: "playerContainer", id: "player" + i});
    var $name = $("<div>", {class: "playerName"});
    $name.text("Batter " + i + ": " + teamjson.team2[i-1]);
    $player.append($name);
    $('#results').append($player);
  }
  $('#results').append('PITCHERS');
  for (var i = 10; i < 17 ; i++) {
    var pid = "player" + i + "_id";
    var $player = $("<div>", {class: "playerContainer", id: "player" + i});
    var $name = $("<div>", {class: "playerName"});
    $name.text("Pitcher " + (i-9) + ": " + teamjson.team2[i-1]);
    $player.append($name);
    $('#results').append($player);
  }


})
.fail(function() {
  console.log("error");
})
.always(function() {
  console.log("complete");
});

console.log(teamjson);


</script>
