
<link rel="stylesheet" href="/style/live.css">

<div id="page_header">
  <div id="container_logo">
    <img src="/img/logo_large.png" alt="" />
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="six columns">
<input
      <p>
        League Page
      </p>
      <div id="results">
      </div>
    </div>
  </div>
</div>


<script>

var url = '/league/myleagues/<%=session[:league_name]%>/teams';
console.log(url);
var teamjson;

$.ajax({
  url: url,
  type: 'GET',
  dataType: 'json'
})
.done(function(data) {
  console.log("success");
  teamjson = data;
  console.log(data);
  for (var i = 1; i < 10 ; i++) {
    var pid = "player" + i + "_id";
    var $player = $("<div>", {class: "playerContainer", id: "player" + i});
    var $name = $("<div>", {class: "playerName"});
    $name.text(teamjson.team1[i]);
    $player.append($name);
    $('#results').append($player);
  }
})
.fail(function() {
  console.log("error");
})
.always(function() {
  console.log("complete");
});

console.log(teamjson);


</script>
