<link rel="stylesheet" href="/style/league.css">

<div id="page_header">
  <div id="container_logo">
    <img src="/img/logo_large.png" alt="" />
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="twelve columns">

      <h3>Welcome back <%= session[:current_account] %>!</h3>
      <h4>Create a new league, draft for a league you've been invited to or simulate a season for a league you've already joined!</h4>

      <h5><strong>Create a new league and invite friends!</strong></h5>
      <form id="createLeague" class="inline" action="/league/create" method="post">
        <input id="league_name" class="formInput" type="text" name="league_name" placeholder="League Name">
        <input id="owner_one" class="formInput" type="text" name="team1_owner" placeholder="Team 1 Owner">
        <input id="owner_two" class="formInput" type="text" name="team2_owner" placeholder="Team 2 Owner">
        <input class="button-primary formInput" type="button" value="submit" onclick="createLeague()"/>
      </form>

      <h5><strong>You've been invited to draft in these leagues!</strong></h5>
      <div id="notDrafted">
      </div>

      <h5><strong>You're part of the following leagues</strong></h5>
      <div id="drafted">
      </div>

    </div>
  </div>
</div>
<script src="/script/league_ajax.js"></script>
<script src="/script/league.js"></script>
