
<link rel="stylesheet" href="/style/league_detail.css">

<div id="page_header">
  <div id="container_logo">
    <img src="/img/logo_large.png" alt="" />
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="six columns">
      <p>
        <h1>Details for League: <b><%=session[:league_name]%></b></h1>
      </p>
      <div id="results">
      </div>
    </div>
  </div>
</div>













<script>

var url = '/league/myleagues/<%=session[:league_name]%>/teams';
var simUrl = '/league/myleagues/<%=session[:league_name]%>/simulation';
console.log(url);
var teamjson;

</script>
<script src="/script/league_detail_ajax.js"></script>
<script src="/script/league_detail.js"></script>
