
<link rel="stylesheet" href="/style/league_detail.css">

<div id="page_header">
  <div id="container_logo">
    <img src="/img/logo_large.png" alt="" />
  </div>
</div>

<div class="container">

  <div class="row">
    <div class="twelve columns">
      <h2> <p><strong><%=session[:current_account]%></strong> you're up against <strong>SecondPlayer</strong> in the <%=session[:league_name]%> league.</p></h2>
      <h3><p><strong>After both teams have been drafted simulate a season to see who makes history!</strong></p></h3>
    </div>
  </div>

  <div class="row">
    <div class="six columns">
      <div id="results_team1" class="results_list">
      </div>
    </div>
    <div class="six columns">
      <div id="results_team2" class="results_list">
      </div>
    </div>
  </div>

</div>













<script>

var url = '/league/myleagues/<%=session[:league_name]%>/teams';
var simUrl = '/league/myleagues/<%=session[:league_name]%>/simulation';
console.log(url);
var teamjson;

</script>
<script src="/script/league_detail_ajax.js"></script>
<script src="/script/league_detail.js"></script>
