<script src="/script/live_ajax.js"></script>
<script src="/script/live.js"></script>
<link rel="stylesheet" href="/style/live.css">

<div id="page_header">
  <div id="container_logo">
    <img src="/img/logo_large.png" alt="" />
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="ten columns">
    <!-- LEFT COL -->
      <div class="draftHeader"><h3>
          <h3>Draft for <strong><%= session[:current_team] %></strong> in league <strong><%= session[:league_name] %></strong></p></h3>
      </div>

      <form class="draftSearch" action="#">
        <input type="text" id="searchbox" name="" placeholder="Player Name">
        <input type="button" value="Find Player" onclick="playerSearch()">
        <!--add hidden text box to prevent users from submitting form by pressing enter key-->
        <input type="text" style="display: none;">
      </form>

      <div class="left_col" id="draftList">

      </div>
    <!-- END LEFT COL -->
    </div>

    <div class="two columns">
    <!-- RIGHT COL -->

      <div id="draftSearchResults">
      </div>
    <!-- END RIGHT COL -->
    </div>

  </div>
</div>
