<div class="livedraft">
  <p>
    Draft for <%= @team.team_name %> in league <%= @team.league_name %>
  </p>
  <div class="">
    <form class="draftsearch" action="#" method="post">
      <input type="post" name="search" placeholder="Player Name">
    </form>
  </div>
  <div class="draftlist">
  </div>
</div>

<script type="text/javascript">
  var arrayjson = <%= @playersarray.to_json%>;
  console.log(arrayjson);
</script>
