<script src="/script/live_ajax.js"></script>
<script src="/script/live.js"></script>
<link rel="stylesheet" href="/style/live.css">

<div id="page_header">
  <div id="container_logo">
    <img src="/img/logo_large.png" alt="" />
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="ten columns">
    <!-- LEFT COL -->
      <div class="left_col" id="draftList">
        <h3>
          <p>
            Team <%= @team.team_name %>
          </p>
          <p>
            League <%= @team.league_name %>
          </p>
        </h3>
      </div>
    <!-- END LEFT COL -->
    </div>

    <div class="two columns">
    <!-- RIGHT COL -->
      <form class="draftSearch" action="" method="post">
        <input type="search" id="searchbox" name="search" placeholder="Player Name">
        <input type="button" value="Find Player" onclick="playerSearch()">
      </form>
      <div class="draftSearchResults">
      </div>
    <!-- END RIGHT COL -->
    </div>

  </div>
</div>
