<script src="/script/login.js"></script>

<form action="/" method="post">
  <input type="text" name="login_name">
  <input type="password" name="login_password">
  <input type="submit" value="ENTER SITE">
</form>


<form action="/" method="post">
  <input type="text" name="create_account_name">
  <input type="password" name="create_account_password">
  <input type="password" name="create_account_password_confirm">
  <input type="submit" value="CREATE ACCOUNT">
</form>
