<script src="/script/not_found.js"></script>
<link rel="stylesheet" href="/style/not_found.css">

<div id="page_header">
  <div id="container_logo">
    <a href="/logout" style="color:rgb(0, 0, 0); font-size:2rem; "><strong>LOG OUT</strong></a>
    <img src="/img/logo_large.png" alt="" />
  </div>
</div>

<div class="container">
  <div class="row">
    <p>
      THE PAGE YOU WERE LOOKING FOR WAS NOT FOUND. >_<
    </p>
  </div>
</div>
