<script src="/script/not_found.js"></script>
<link rel="stylesheet" href="/style/not_found.css">

<div id="page_header">
  <div id="container_logo">
    <a href="/logout" style="color:rgb(11, 191, 19); font-size:2rem; top: 20px; position: relative; left: 5px;"><strong>LOG OUT</strong></a><br>
  <img src="/img/logo_large.png" alt="" />
  </div>
</div>

<div class="container">
  <div class="row">
    <p>
      THE PAGE YOU WERE LOOKING FOR WAS NOT FOUND. >_<
    </p>
  </div>
</div>
